@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   博客API系统
                    <a class="btn btn-default" href="http://fmdot.net">
                        .Net 电台
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
